* {margin: 0;padding: 0;}
body {font-family: Arial, "Trebuchet MS";font-size: 12px;color: #99A607;line-height: 2em; }
a{font-weight: bold;letter-spacing: -1px;color: #99A607;text-decoration:none;}
a:hover{color: #99A607;text-decoration:underline;}
#container{width:80%;margin: auto;}
#top{width:100%;margin-top: 25px; height:60px; border:1px solid #BBBBBB; padding:10px;}
#tutorialHead{width:100%;margin-top: 25px; height:30px; border:1px solid #BBBBBB; padding:10px;}
.tutorialTitle{width:800px;float:left;}
.tutorialLink{float:right;}
#wrapper{width:98%;margin-top: 25px; border:1px solid #BBBBBB; padding:20px;}

.widget {width: 410px;margin: 20px;padding: 10px;background: #f3f1eb;border: 1px solid #dedbd1;margin-left: 35%;}
.widget a {color: #000;text-decoration: none;font-size:14px;}
.widget a:hover {text-decoration: underline;}
.tabnav li {display: inline;list-style: none;padding-right: 5px;}
.tabnav li a {text-decoration: none;text-transform: uppercase;font-weight: bold;padding: 4px 6px;outline: none;}
.tabnav li a:hover, .tabnav li a:active, .selected {background: #dedbd1;text-decoration: none;}
.tabdiv {margin-top: 2px; background: #fff;border: 1px solid #dedbd1;padding: 5px;}
.tabdiv li {margin-left: 20px;}
.tabdiv li a{color: #99A607;font-size:12px;}
.ui-tabs-hide {display: none;}

#fotter{clear:both;text-align:right;font-size:10px;color: #222; border:1px solid #BBBBBB; padding:10px;width:100%;margin-top: 25px;}
