
div.wrapper {
display: block;
width: 100%;
margin: 0;
padding: 0;
text-align: left;
}

.col1, .col1 a {
color: #8B785F;
background-color: #F8F7DF;
}

#header{
	padding:0 0 20px 0;
	}

#header #logo{
	display:block;
	float:left;
	width:300px;
	overflow:hidden;
	}

#header #logo h1, #header p, #header ul{
	margin:0;
	padding:0;
	list-style:none;
	line-height:normal;
	}

#header #logo h1{
	font-size:36px;
	}

#header h1 a{
	color:#333333;
	background-color:#F8F7DF;
	}

#header .fl_right{
	display:block;
	float:right;
	width:330px;
	margin:17px 0 0 0;
	padding:0;
	text-align:right;
	}

#header .fl_right ul{
	margin-bottom:10px;
	}

#header li{
	display:inline;
	margin:0 0 0 8px;
	padding:0 0 0 10px;
	border-left:1px solid #8B785F;
	}

#header li.last{
	margin-right:0;
	padding-right:0;
	border:none;
	}

br.clear {
clear: both;
margin-top: -15px;
}